<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input type="text" 
          class="new-todo" 
          autofocus 
          autocomplete="off" 
          placeholder="What needs to be done?"
          onkeydown={{action addTodo}} />
  </header>

  <!-- This section should be hidden by default and shown when there are todos -->
  {{#if microstate.state.hasTodos}}
    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        {{#each microstate.state.filteredTodos key="id" as |todo| }}
          <li class="{{if todo.completed 'completed'}}">
            <div class="view">
              <input class="toggle" type="checkbox" checked={{if todo.completed 'checked'}}>
              <label>{{todo.text}}</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value={{todo.text}}>
          </li>
        {{/each}}

      </ul>
    </section>
  {{/if}}

  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{microstate.state.remainingCount}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
       <li><a href="#/" class="{{if (eq microstate.state.filter filterStates.SHOW_ALL) "selected"}}">All</a></li>
        <li><a href="#/active" class="{{if (eq microstate.state.filter filterStates.SHOW_ACTIVE) "selected"}}">Active</a></li>
        <li><a href="#/completed" class="{{if (eq microstate.state.filter filterStates.SHOW_COMPLETED) "selected"}}">Completed</a></li>
    </ul>

    <!-- Hidden if no completed items are left ↓ -->
    {{#if microstate.state.completedCount}}
      <button class="clear-completed" onclick={{action clearCompleted}}>Clear completed</button>
    {{/if}}
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
