<section class="todoapp">

  <header class="header">
    <h1>Todos</h1>
    <input type="text"
          class="new-todo"
          autofocus
          autocomplete="off"
          placeholder="What needs to be done?"
          onkeydown={{action addTodo}} />
  </header>

  {{#if ms.state.hasTodos}}

    <section class="main">

      <input id="toggle-all" class="toggle-all" type="checkbox" checked={{ms.state.isAllComplete}} onchange={{action updateState ms.toggleAll}}>
      <label for="toggle-all" title="Mark all as complete">Mark all as complete</label>


      <ul class="todo-list">
        {{#each ms.state.filteredTodos key="id" as |todo| }}
          <TodoItem @todo={{todo}}
                    @onRemove={{action updateState ms.deleteTodo}}
                    @onToggle={{action updateState ms.toggleTodo}} />
        {{/each}}
      </ul>

    </section>

    <footer class="footer">

      <span class="todo-count"><strong>{{ms.state.remainingCount}}</strong> {{if (eq ms.state.remainingCount 1) "item" "items"}} left</span>

      <ul class="filters">
        <li><a href="#/" class="{{if (eq ms.state.filter filterStates.SHOW_ALL) "selected"}}">All</a></li>
          <li><a href="#/active" class="{{if (eq ms.state.filter filterStates.SHOW_ACTIVE) "selected"}}">Active</a></li>
          <li><a href="#/completed" class="{{if (eq ms.state.filter filterStates.SHOW_COMPLETED) "selected"}}">Completed</a></li>
      </ul>

      {{#if ms.state.completedCount}}
        <button class="clear-completed" onclick={{action updateState ms.clearCompleted}}>Clear completed</button>
      {{/if}}
    </footer>

  {{/if}}
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>